@model EmployeeReadVM

<h5 class="card-title">@Model.Name</h5>
<h6 class="card-subtitle mb-2 text-muted">@Model.Id</h6>
<h6 class="card-subtitle mb-2 text-muted">@Model.Age</h6>
<h6 class="card-subtitle mb-2 text-muted">@Model.Salary</h6>